@charset "UTF-8";
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.header-portfolio {
  border-bottom: 2px solid #ececec;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-accent {
  color: #2196f3;
}

.top-menu {
  display: flex;
}

.top-menu--link {
  display: flex;
  align-items: center;
  height: 80px;
  font-weight: 500;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-menu--link:hover,
.top-menu--link:focus {
  color: #2196f3;
}

.top-menu .item {
  position: relative;
}

.current.top-menu--link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.top-menu .item:not(:last-child) {
  margin-right: 50px;
}

.link.current {
  color: #2196f3;
}

.top-address {
  display: flex;
}

.top-address--link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-address--link:hover,
.top-address--link:focus {
  color: #2196f3;
}

.mail-svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-address--link:hover .mail-svg,
.top-address--link:focus .mail-svg {
  fill: #2196f3;
}

.phone-svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-address--link:hover .phone-svg,
.top-address--link:focus .phone-svg {
  fill: #2196f3;
}

.top-address .item {
  display: flex;
  align-items: center;
}

.top-address .item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.address {
  margin-left: auto;
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  min-height: 600px;
  background-color: #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero-Img.jpg");
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: #ffffff;
}

/* Преимущества */
.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage .text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage .list {
  display: flex;
}

.advantage .item {
  width: 270px;
}

.advantage .item:not(:last-child) {
  margin-right: 30px;
}

.advantage--icon {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

/* Чем мы занимаемся */
.work {
  margin-bottom: 94px;
}

.work .list {
  display: flex;
}

.work .item {
  position: relative;
  width: 370px;
}

.work--title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

/* Команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .list {
  display: flex;
}

.team .item {
  padding-bottom: 30px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.specialty {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.photo {
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .social-svg,
.social-link:focus .social-svg {
  fill: #ffffff;
}

/* Клиенты */
.clients {
  margin-top: 94px;
  margin-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: #2196f3;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .address {
  margin-right: 70px;
  margin-left: 0;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .logo {
  margin-right: 0;
  margin-bottom: 30px;
  color: #ffffff;
}

.footer-address .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address .contact-address {
  color: #ffffff;
}

.footer-address .item:not(:last-child) {
  margin-bottom: 9px;
}

/* join */
.join {
  margin-right: 93px;
}

.join-title {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join .social-link {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join .social-svg {
  fill: #ffffff;
}

.join .social-link:hover,
.join .social-link:focus {
  background-color: #2196f3;
}

/* subscribe */
.subscribe--title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.user-email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

.user-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.user-email:focus {
  outline: none;
}

.subscribe--label {
  position: relative;
  margin-right: 12px;
}

.subscribe--button__text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* filter */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .button {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover,
.filter .button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-link {
  display: block;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover,
.filter-link:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.cards .item {
  margin: 15px;
  width: 370px;
}

.card-block {
  position: relative;
  overflow: hidden;
}

.cards-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.name-card {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.text-card {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-desc {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-desc--text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards .item:hover .card-desc--text {
  transform: translateY(0);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #2196f3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus ~ .modal-svg {
  fill: #2196f3;
}

.modal-input:not(:placeholder-shown) ~ .modal-svg {
  fill: #2196f3;
}

.modal-label {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.modal-label-text {
  position: absolute;
  left: 0;
  top: -18px;
}

.modal-label-textarea {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.modal-textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.label-policy-text {
  display: flex;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  display: block;
  height: 19px;
  color: #2196f3;
  margin-left: 3px;
  border-bottom: 1px solid #2196f3;
  text-decoration: none;
}

.modal .button {
  display: block;
  margin: 0 auto;
}

/* Чекбокс через svg спрайт в html документе */
.label-policy-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-check-input:checked ~ .label-policy-check {
  background-color: #2196f3;
  border: 1px solid #2196f3;
}

/* ========================= */
/* Чекбокс через псевдоэлемент */
/* .policy-check-input:checked ~ .label-policy-text::before{
  background-image: url(../image/Vector.svg), linear-gradient($accent-color, $accent-color);
  background-repeat: no-repeat;
  background-position: center;
  border-color: $accent-color;
}

.label-policy-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid $title-color;
  border-radius: 2px;
  margin-right: 7px;
} */
/* ========================= */
